/* Mise en forme de la page photographer.html */

/*  */
/* Gestion du header */
/*  */

/* Header contenant les informations du photographe, sa photo de profil et le formulaire de contact */
.photograph-header{
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h1.name{
    color: #D3573C;
}

/*  */
/* Gestion des medias */
/*  */

.media-section{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

#divMedias{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

/* Animation de chargement des infos du header pour permettre leur chargement complet et mise en forme */

.photograph-header, .media-section{
    animation: loadingFade 1s 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* Mise en forme des cards de médias */
.mediaContent{
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.articleMedia{
    width: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mediaTitle{
    color: #901C1C;
    width: 75%;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.divLikes{
    color: #901C1C;
    font-weight: 600;
    margin: 10px 0px;
    max-width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    user-select: none;
}

/* Encart contenant le total de likes et tarif journalier */

#divLikesPrice{
    background-color:#D3573C;
    position: fixed;
    bottom: 0;
    right: 30px;
    padding: 15px 20px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 600;
    font-size: 22px;
}

#divTotalLikes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

/* Conteneur du label et des boutons de tri */
.divFilter{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.divFilter label{
    font-weight: 700;
    font-size: 18px;
    padding-top: 10px;
}

/* Éléments de la liste de tri */
ul{
    list-style-type: none;
    width: fit-content;
    margin: 0;
    background-color: #901C1C;
    padding: 0px 10px;
    border-radius: 5px;
    min-width: 150px;
}

.listButton{
    border-radius: 5px;
    overflow: hidden;
    font-size: 18px;
    color: white;
    padding: 10px;
    height: 50px;
    border: none;
    background-color: #901C1C;
    cursor: pointer;
    text-align: left;
    width: 100%;
}

button.firstFilter{
    width: calc(100% - 45px);
}

li span{
    color: white;
    padding : 0px 10px;
}

#sortDate, #sortTitle{
    border-top: solid 1px white;
}

#arrow-down i, #arrow-up i{
    cursor: pointer;
}

/* Gestion de l'affichage des éléments (flèches et boutons) */
.hidden{
    display: none;
}

.visible{
    display: inline-block;
}

.visibleButton{
    display: block;
}

/* Espacement des lettres */

.smallSpacing{
    letter-spacing: 0.5px;
}

.spacing{
    letter-spacing: 1px;
}

/*  */
/* Gestion de la modale de contact */
/*  */

#contact_modal {
    display: none;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 0px;
    position: fixed;
    top : 100px;
    left: 25%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: calc(100% - 20px);
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 36px;
    padding-left: 20px;
    outline-color: #901C1C;
}

form input.inputMessage{
    height: 200px;
}