@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    max-width: 1440px;
    margin: auto;
}

/* Mise en forme du contour de focus pour la navigation au clavier */
*:focus-visible{
    outline: solid 2px #901C1C;
    outline-offset: 2px;
}

button:focus-visible, span:focus-visible{
    outline-color:  white;
    box-shadow: none;
}

#lightbox button:focus-visible, img#closeForm:focus-visible{
    outline-color: #901C1C;
    outline-offset: 4px;
}

input:focus-visible{
    outline-color: transparent;
}

a.mediaLink:focus-visible{
    outline-style: dashed;
}

button:focus-visible{
    outline-offset: -6px;
}

button:focus-visible, span:focus-visible{
    outline-color:  white;
    box-shadow: none;
}

a{
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.headerLogo{
    margin-left: 100px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
}

/* Section contenant toutes les cards */

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 70px;

    /* Animation de chargement des cards pour permettre leur chargement complet et mise en forme */
    animation: loadingFade 1s 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* Mise en forme de la card et du lien de navigation vers la page du photographe */

.photographer_section article, .photographer_section article a{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Nom du photographe */
.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 5px;
}

/* Photo de profil du photographe */

img.profile{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}

/* Infos supplémentaires sur le photographe */
.photographer_section article p{
    margin: 0;
    font-size: 14px;
}

.photographer_section article{
    row-gap: 5px;
}

p.bold{
    font-weight: 600;
}

/* Mise en forme de son emplacement */
p.location{
    color: #901C1C;
}


@keyframes loadingFade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}